.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}


.search-input {
    font-size: 24px;
    background-color: transparent;
    color: #61dafb;
    padding: 10px 15px;
    border-radius: 10px;
    text-align: center;
}

.search-input:focus {
    outline: none;
}

.search-input::placeholder {
    color: #61dafb;
}

